#cuadro-principal1{

    background-color: red;
    
    height: 300px;
    width: 100%;   
    display: flex; 
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    
    }
    
    #cuadro-principal2{

        background-color: blue;
        
        height: 300px;
        width: 100%;   
        display: flex; 
        gap: 5px;
        justify-content: center;
        flex-wrap: wrap;
        
        }


        #cuadro-principal1-sacadas{

            background-color: red;
            
            height: 300px;
            width: 100%;   
            display: flex; 
            gap: 5px;
            justify-content: center;
            flex-wrap: wrap;
            
            }
            
            #cuadro-principal2-sacadas{
        
                background-color: blue;
                
                height: 300px;
                width: 100%;   
                display: flex; 
                gap: 5px;
                justify-content: center;
                flex-wrap: wrap;
                
                }





    .cartas{
        text-align: center;
        background-color: black;
        width: 100px;  
        height: 300px; 
        padding-top: 20px; 
    }
    
    .cartas img {
        
        width: 60%;
    }
    
    .cartas h3{
        
        padding: 0 10px; 
        color: white;
    } 
    
    .cartas h4{
        
        color: white;
    }

    .cartas h1{
        
        color: white;
    }

    .cartas p{ 
        padding: 0 10px; 
        color: white;
        font-size: 0.7rem; 
    }


    #main{

background-color: black;
display: flex;
width: 100%; 
    }

    #main section{
width: 50%;

    }

    #main section div h1,h2{
color: white;    
text-align: center;
            }